<div class="row">
<div class='left col-md-6' >
    <div id="left-column" class="yen">
      <article>
        <header>
          <h3>From</h3>
        </header>
        <br>
        <div class="content">
                <form [formGroup]="CurrencyFormGroup">
                    <div class="col-md-6">
                            <select formControlName="currencyControl">
                                <option  *ngFor="let currName of CurrencyArr"> {{currName.Currency}}
                                </option>
                            </select>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <input type ="text" id="yen" placeholder="Enter value in Yen" 
                        (keyup)="convertToUsd($event)" value="{{convertDollarToYen}}" required/>
                    </div>
                </form>
        </div>
      </article>
    </div>
  </div>

  <div class="right col-md-6">
    <div id="right-column" class="usd">
      <article>
        <header>
          <h3 class="center">To</h3>
        </header>
        <br>
        <div class="content">
                <form [formGroup]="CurrencyToGroup">
                   <div class="form-group col-md-12">
                       <div class="col-md-6">
                            <label class="left">Currency To:</label>
                       </div>
                       <div class="col-md-6">
                            <select formControlName="currencyToControl" class="form-control right">
                                <option  *ngFor="let currName of CurrencyArr"> {{currName.Currency}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group col-md-12">
                            <div class="col-md-6">
                                    <label class="left">Currency Value:</label>
                            </div>
                            <div class="col-md-6">
                                <input type ="text"  id="usd" placeholder="Enter value in USD" class="form-control right"
                                (keyup)="convertToYen($event)" value="{{convertYenToDollar}}" required/>
                            </div>
                    </div>
                </form>
        </div>
      </article>
    </div>
  </div>
</div>
  